name: Terraform Plan & Apply

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

env:
  AWS_REGION: "eu-central-1"

jobs:
  terraform:
    name: Terraform
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS credentials
        id: configure-aws-credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}
          output-credentials: true

      - name: Ensure Terraform S3 bucket exists
        run: |
            BUCKET_NAME="terraform-state-bucket-1cf48a7e-0cce-4afc-b29e-8584937eb9e9"

            aws s3api head-bucket --bucket "$BUCKET_NAME" 2>/dev/null || \
            aws s3api create-bucket \
              --bucket "$BUCKET_NAME" \
              --region eu-central-1 \
              --create-bucket-configuration LocationConstraint=eu-central-1
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: eu-central-1

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        if: github.event_name == 'pull_request'
        run: terraform plan

      - name: Terraform Plan and Apply (on push to main)
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
          terraform plan -out=tfplan
          terraform apply -auto-approve tfplan
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
